---
# ansible-playbook config-controller-filetree.yml --tags ${CONTROLLER_OBJECT}
#   -e "{orgs: ${ORGANIZATION}, dir_orgs_vars: orgs_vars, env: ${ENVIRONMENT} }"
# --vault-password-file ./.vault_pass.txt
# -e @orgs_vars/env/${ENVIRONMENT}/configure_connection_controller_credentials.yml
- name: Apply AAP configuration from a filetree
  hosts:
    - localhost
  connection: local
  gather_facts: false
  vars:
    controller_configuration_projects_async_retries: 120
    controller_configuration_projects_async_delay: 2
    controller_username: "{{ vault_controller_username or lookup('env', 'CONTROLLER_USERNAME') }}"
    controller_password: "{{ vault_controller_password or lookup('env', 'CONTROLLER_PASSWORD') }}"
    controller_hostname: "{{ vault_controller_hostname or lookup('env', 'CONTROLLER_HOST') }}"
    controller_validate_certs: "{{ vault_controller_validate_certs or lookup('env', 'CONTROLLER_VERIFY_SSL') }}"
    # filetree_controller_projects: "{{ dir_orgs_vars }}/{{ orgs }}/env/local/controller_projects.d/"
    orgs: stderr
  pre_tasks:
#    - name: Clone the filetree export GIT repostory
#      ansible.scm.git_retrieve:
#        origin:
#          url: "https://github.com/tosmi-ansible/local-app-configuration.git"
#        parent_directory: /tmp/checkout

    - name: "Setup authentication (block)"
      no_log: "{{ controller_configuration_filetree_read_secure_logging | default('false') }}"
      when: controller_oauthtoken is not defined
      tags:
        - always
      block:
        - name: "Get the Authentication Token for the future requests"
          ansible.builtin.uri:
            url: "https://{{ controller_hostname }}/api/v2/tokens/"
            user: "{{ controller_username }}"
            password: "{{ controller_password }}"
            method: POST
            force_basic_auth: true
            validate_certs: "{{ controller_validate_certs|bool }}"
            status_code: 201
          register: authtoken_res

        - name: "Set the oauth token to be used since now"
          ansible.builtin.set_fact:
            controller_oauthtoken: "{{ authtoken_res.json.token }}"
            controller_oauthtoken_url: "{{ authtoken_res.json.url }}"
  roles:
    - infra.controller_configuration.filetree_read
    - infra.controller_configuration.dispatch

  post_tasks:
    - name: "Delete the Authentication Token used"
      ansible.builtin.uri:
        url: "https://{{ controller_hostname }}{{ controller_oauthtoken_url }}"
        user: "{{ controller_username }}"
        password: "{{ controller_password }}"
        method: DELETE
        force_basic_auth: true
        validate_certs: "{{ controller_validate_certs | bool }}"
        status_code: 204
      when: controller_oauthtoken_url is defined
...
